.site-header {
  background: $dark;
  @include bottom_spacer();

  &-container {
    @include container( 20px );
    @include flex( space-between, center, row, nowrap );
  }
}

/*--------------------------------------------------------------
## Social 
--------------------------------------------------------------*/

.site-header-social-media {
	background: $dark_more;
	text-align: center;

	@include from( 500 ) {
		text-align: right;
	}

	&-list {
		@include list_unstyled( inline-block );
		@include container();
	}

  &-item:first-child {
    margin-top: 5px;
  }

  &-item:last-child {
    margin-bottom: 5px;
  }

	&-link {
		@include button( $cl: $light_text, $bg_cl: transparent, $bg_cl_hover: $dark_text, $br_width: 1px, $br_style: solid, $br_cl: darken( $dark_text, 7% ), $br_cl_hv: $dark_text, $margin: 5px, $padding: 5px, $font_size: 12px, $width: 30px );

		@include from( 500 ) {
			margin: 5px 0 5px 5px;
		}
	}
}

/*--------------------------------------------------------------
## Title & Description
--------------------------------------------------------------*/

.site-header {
  &-identity {
    max-width: 250px;
    padding-right: 30px;
  }

  &-title {
    margin: 0;
    line-height: 1.4;
    font-size: 24px;
    color: $light_text;
    font-family: $font_family_sd;

     @include hover() {
      color: #ffffff;
    }

    @include from( 700 ) {
      font-size: 28px;
    }
  }

  &-link {
    @include hover( #ffffff );
    display: block;

    &:hover {
      .site-header-title,
      .site-header-description {
        color: #ffffff;
      }
    }
  }

  &-description {
    margin: 0;
    font-size: 11px;
    color: lighten( $dark, 40% );
    transition: $duration;

    @include from( 700 ) {
      font-size: 12px;
    }
  }
}

/*--------------------------------------------------------------
## Search
--------------------------------------------------------------*/

.site-header .search {

  &-show-btn {
  	@include button( $margin: 0 0 0 10px, $padding: 8px 11px 7px 10px, $font_size: 12px );
  }

   &-hide-btn {
   	@include button( $cl: $light_text, $cl_hv: $light_text_hover, $bg_cl: transparent, $bg_cl_hover: transparent, $padding: 8px 15px );
  }

  &-container {
    @include position( fixed, 50%, auto, 0, 0, translateY( -50% ) );
    @include flex( center, center, column );
    @include hidden();
    height: calc( 100% + 200px );
    text-align: center;
    background: rgba( $dark , 0.98 );
    z-index: 7;

    .search-form {
      margin: 50px auto 0;
    }

    .search-field {
    	@include color( $light_text, transparent, lighten( $border_dark, 10% ) );
      @include hover( #ffffff, transparent, lighten( $border_dark, 10% ) );
      width: calc( 100% - 50px );
      padding: 15px;
      font-size: 18px;

      @include from( 700 ) {
        width: calc( 50% - 50px );
      }    
    }

    .search-button {
    	@include button( $cl: #ffffff, $cl_hv: #ffffff, $bg_cl: lighten( $border_dark, 10% ), $bg_cl_hover: lighten( $border_dark, 10% ), $br_width: 1px, $br_style: solid, $br_cl: lighten( $border_dark, 10% ), $br_cl_hv: lighten( $border_dark, 10% ), $margin: 0 0 0 -1px , $padding: 16px, $font_size: 12px, $width: 50px );
      border-radius: 0 $border_radius $border_radius 0;
    }
  }

  &-container-visible {
    @include visible();
  }
}

/*--------------------------------------------------------------
## Navigation 
--------------------------------------------------------------*/

.site-header-nav-container {
  @include flex( space-between, center, row, nowrap );
}

.primary-nav {
  z-index: 4;

  &-show-btn {
    padding: 6px 10.5px;
    margin-left: 10px;
  }

  &-hide-btn {
    @include hidden();
    display: block;
    margin: 0 0 10px auto;
    padding: 6px 11.5px;

    .primary-nav-active & {
      @include visible();
    }

  }

  &-container {
    @include position( fixed, -100% );
    @include hidden( 0 );
    z-index: 5;
    width: 100%;
    height: 100%;
    background: $dark;

    .primary-nav-active & {   
    	@include visible();
      top: 0;
      overflow: auto;   
      display: block;
      padding: 80px 10px;

      @include from( 500 ) {
        padding: 80px 20px;
      }
    }
  }

  &-list {
    @include list-unstyled();

    .primary-nav-search-hidden & {
      // text-align: right;
    }

    .primary-nav-active & {
      text-align: left;
    }
  }

  &-item {
    position: relative;
    @include flex( space-between, center, row, nowrap );

    .primary-nav-search-hidden & {
      &:last-child {
        margin-right: -15px;
        &.menu-item-has-children {
          margin-right: -18px;
        }
      }
    }

    .primary-nav-active & {
      display: block;

      &-depth-0 {
        border-bottom: 1px solid $border_dark;

        &:last-child {
          border: none;
        }
      }
    }
  }

  &-link {
  	@include color( $light_text, $dark );
    @include hover( #ffffff, $dark );
    display: inline-block;
    padding: 10px 15px 8px;
    font-size: 14px;
    border: none;
    width: inherit;

    &-parent {
      width: calc( 100% - 33px );
    }

    .current-menu-item > &,
    .current-menu-ancestor > & {
      @include color( #ffffff );
      @include hover( #ffffff, $dark );
    }

    .primary-nav-active & {
      padding: 10px 15px 8px 0;
    }
  }

  &-dropdown-btn {
  	@include button( $cl_hv: $theme, $bg_cl: transparent, $bg_cl_hover: transparent, $padding: 2px 10px 0px 6px, $font_size: 12px, $width: 33px );

    span {
      transition: $duration;
    }

    .primary-nav-active & {
      margin: 0 4px 0 6px;
      width: 23px;

      .fa-angle-right {
        transform: rotate( 90deg );
      }

      &.clicked {
        .fa-angle-down {
          transform: rotate( 180deg );
        }

        .fa-angle-right {
          transform: rotate( 270deg );
        }
      }
    }

    &.clicked {
      .fa-angle-down {
        transform: rotate( 180deg );
      }

      .fa-angle-right {
        transform: rotate( 180deg );
      }
    }
  }

  &-dropdown {
    @include list-unstyled( block );
    @include hidden();
		@include position( $left: 100% );
    width: inherit;
    min-width: 170px;

    &.depth-0 {
    	@include position( $top: 100% );
    }

    &.dropdown-active {
    	@include visible();

      .primary-nav-active & {
        position: static;    
        padding-left: 10px;
      }
    }

    .primary-nav-item {
      background: $dark;
      width: 100%;
    }

    .primary-nav-link {
      width: 100%;
    }

    .primary-nav-link-parent {
      width: calc( 100% - 33px );
    }
  }
}